[Desktop Entry]
Version=1.0
Name=RESET_ARES_ATIVA
Comment=Descriçao do Atalho
Exec=python3 /home/mclovin/Área de Trabalho/duda-arch repository/BH-UG-projects/Raspberry-Eletra/RESET_ARES_THS_ENERGY_ATIVA.py
Icon=/home/mclovin/Área de Trabalho/duda-arch repository/BH-UG-projects/Raspberry-Eletra/include/icons/ares_8023.png
Terminal=false
Type=Application
Categories=Application;



